body {
    margin: 0;
    padding: 0;
    font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
}

h1 {
    float: left;
    margin: 0;
    padding: 12px;
    color: white;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    width: 100px;
    font-size: 20px;
    border-bottom: 2px #A91717 solid;
}

h3 a {
    color: black;
    font-size: 32px;
    text-decoration: none;
}

h3 a:hover {
    color: #1167A8;
}

h4 {
    font-weight: normal;
    font-size: 30px;
    color: black;
    margin: 50px 0 25px 0;
}

.article-link {
    color: black;
}

.clear-float {
    clear: both;
}

.clock {
    height: 12px;
}

.no-border {
    border: none !important;
}

.side-article {
    float: right;
    width: 180px;
}

.thumbnail {
    float: left;
    width: 110px;
    margin-right: 10px;
}

.topbar-section {
    float: left;
    border-left: 2px #CCCCCC solid;
    height: 100%;
}

.topbar-menu {
    float: left;
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 17px;
    padding: 0 15px;
}

.topic-link {
    color: #A91717;
    padding: 0 5px;
    border-left: 1px #CCCCCC solid;
}

.watch-listen-link {
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.watch-listen-pane {
    float: right;
    padding-bottom: 5px;
}

#article-container {
    float: left;
    margin-top: -15px;
    border-right: 1px #CCCCCC solid;
}

#article-hr {
    border-top: 1px #A91717 solid;
    width: 40px;
}

#article-summary {
    float: left;
    color: #5A5A5A;
    font-size: 14px;
    width: 230px;
}

#article-summary a {
    text-decoration: none;
}

#asda {
    height: 240px;
    margin: 0 20px;
}

#article-summary a:hover {
    color: #1167A8;
}

#bbc-logo {
    margin: 10px;
    height: 30px;
    float: left;
}

#bell-div {
    float: left;
    height: 100%;
}

#down-arrow {
    float: left;
    height: 25%;
    margin: 20px 10px 20px 0;
    padding: 0;
}

#down-arrow-2 {
    height: 25%;
    position: relative;
    padding: 0;
}

#grey-bell {
    height: 60%;
    margin: 10px 10px 10px 5px;
}

#localnews {
    float: right;
    margin: 12px;
    height: 60%;
    border: 1px #BB4545 solid;
}

#localnews a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding-left: 10px;
    top: -12px;
    left: 5px;
}

#localnews a:hover {
    text-decoration: underline;
}

#localnews img {
    height: 40%;
    padding: 12px 15px;
}

#magnifying-glass {
    float: left;
    background-color: #D9D9D9;
    margin: 10px 0;
    height: 32%;
    border: 5px #D9D9D9 solid;
}

#main-article {
    float: left;
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

#menubar {
    width: 1000px;
    margin: 0 auto;
}

#menubar-container {
    background-color: #BB1919;
    border-top: 1px #CCCCCC solid;
    width: 100%;
    min-width: 1000px;
    height: 70px;
}

#menubar2 {
    width: 975px;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
}

#menubar2 a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid #BB4545;
}

#menubar2 a:hover {
    text-decoration: underline;
}

#menubar2-container {
    background-color: #A91717;
    width: 100%;
    min-width: 1000px;
    height: 40px;
}

#more-text {
    padding-right: 5px;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
}

#right-notched-line {
    float: left;
    height: 100%;
}

#signin-div {
    display: inline-block;
}

#signin-logo {
    height: 20px;
    padding: 15px;
    float: left;
}

#signin-text {
    left: -20px;
    margin-right: -25;
}

#search {
    float: left;
    background-color: #D9D9D9;
    border: none;
    width: 140px;
    margin: 10px 0 10px 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

#topbar {
    background-color: white;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}

#watch-listen {
    float: right;
    font-weight: normal;
    color: #5A5A5A;
    width: 300px;
    position: relative;
    top: -70px;
    left: -20px;
}

#watch-listen a {
    font-size: 15px;
    text-decoration: none;
    margin-bottom: -10px;
}

#watch-listen a:hover {
    color: #1167A8;
}
